

.form-container {
    display: flex;
    justify-content: center;
    width: 550px;
}

.input-form {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.input-form label {
    display: block;
    margin-top: 12px;
    justify-content: start;
}

.input-form input {
    margin-bottom: 16px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}

.add-task-btn {
    height: 33px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: rgb(50, 193, 241);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.add-task-btn:hover {
    opacity: 0.75;
}

.add-task-btn:active {
    opacity: 0.5;
}