.task-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border: 2px solid rgb(177, 177, 177);
    width: 500px;
}

.pfp-img {
    height: 40px;
}

.img-container {
    margin-right: 20px;
}

a {
    cursor: pointer
}